<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Сума заказу
</div>
<div class="p-4">
  <p class="font-italic mb-4">Вартість доставки буде додана в залежності від типу доставки</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Вартість товару</strong>
      <strong>{{(basketTotal$ | async).subtotal | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Доставка</strong>
      <strong>{{(basketTotal$ | async).shipping | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Загальна вартість</strong>
      <strong>{{(basketTotal$ | async).total | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
  </ul>
</div>
