<div class="bg-light px-4 text-uppercase font-weight-bold"
     style="padding: 1.20em;">
  Підсумок замовлення
</div>

<div class="p-4">
  <p class="font-italic mb-4">Вартість доставки буде додана в залежності від типу доставки</p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Вартість товару</strong>
      <strong>{{subtotal | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Доставка</strong>
      <strong>{{shippingPrice | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Загальна вартість</strong>
      <strong>{{total | currency:"UAH":"symbol-narrow"}}</strong>
    </li>
  </ul>
</div>
