<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Адреса доставки</h4>
        <button (click)="saveUserAddress()"
                class="btn btn-outline-success mb-3"
                [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
        >Зробити основною адресою</button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Ім`я'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Призвище'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Вулиця'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Місто'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Область'" formControlName="oblast"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Поштовий індекс'" formControlName="zipCode"></app-text-input>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i>
        Повернутися до кошику
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        Перейти до доставки
        <i class="fa fa-angle-right"></i>
    </button>
</div>

