<carousel>
  <slide>
    <img src="assets/images/01.jpg"
         alt="Перше зображення"
         style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/02.jpg"
         alt="Друге зображення"
         style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/03.jpg"
         alt="Третє зображення"
         style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1 class="mt-5">Вітаємо у інтернет магазині спортивних речей BID!</h1>
  </div>
</section>
