<section class="text-center">
  <div class="container">
    <header>
      <h2 class="text-to-center">Контакти</h2>
      <div class="divider">&nbsp;</div>
    </header>

    <div class="row">
      <div class="six columns">
        <h5>"БІД" ВКП ТОВ, Україна</h5>
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        49124, Україна, м.Дніпро, вул. Липова, 10
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
        <a href="mailto:bid@bid.dp.ua">bid@bid.dp.ua</a>
        <br>
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
        <a href="tel:+380563725022">+38(056)372-50-22</a>, <a href="tel:+380567295121">+38(056)729-51-21</a>
        <br>
        <i class="fa fa-skype" aria-hidden="true"></i>&nbsp;
        <a href="skype:bid.dp">bid.dp</a>
        <br>
        <br>
        Продажа та технічна допомога:
        <br>
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
        <a href="tel:+380676301215">+38(067)630-12-15</a><br>
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
        <a href="mailto:com@bid.dp.ua">com@bid.dp.ua</a><br>
      </div>
    </div>
  </div>
</section>
