<div class="form-floating">
  <input [type]="type"
         [ngClass]="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : ''"
         (input)="onChange($event.target.value)"
         (blur)="onTouched()"
         class="form-control"
         id="{{id}}"
         #input
         placeholder="{{placeholder}}"
         autocomplete="off"
         style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
  <label for="{{id}}">"{{label}}"</label>
  <div class="invalid-feedback"
       *ngIf="controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched">
    <span *ngIf="controlDir.control.errors?.required">{{label}} - обов'язко для заповнення</span>
    <span *ngIf="controlDir.control.errors?.pattern">{{label}} - некоректний формат</span>
  </div>

</div>
